@import "mocha.css";

* {
  transition: none;
  box-shadow: none;
  font-family: Symbols Nerd Font Mono;
  font-size: 14.0px;
  color: @text;
}

#waybar {
  margin-top: 14px;
  background: @base;
  border-radius: 12px;
  border: 2px solid @mauve;
}

#workspaces {
  margin: 0 3px;
  color: transparent;
}

#workspaces button {
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button.visible {
}

#workspaces button.focused {
  border-radius: 10px;
  background-color: @base;
}

#workspaces button.urgent {
  border-radius: 10px;
}

#workspaces button.urgent * {
  color: @red;
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: @base;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #clock, #temperature {
  font-family: Symbols Nerd Font Mono;
  font-size: 14.0px;
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpd *{
  min-width: 10px;
  font-size: 14.0px;
  font-family: Symbols Nerd Font Mono;
}

#custom-power{
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: @peach;
  color: @base;
  border-radius: 10px;
  min-width: 15px;
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  background-color: @blue;
  color: @base;
  border-radius: 10px;
  min-width: 15px;
}

#temperature.critical {
  color: @red;
}
